@page "/Addnumero"
@using System.Threading
@using HoteldosNobresBlazor.FuncoesClient
@rendermode InteractiveAuto
@inject NavigationManager NavigationManager

<PageTitle>Numero</PageTitle>

<h1>Add contato no Google</h1>

<MudTextField T="string" Label="Nome" @bind-Value="nome" />

<MudTextField T="string" Label="OrigemPhone" @bind-Value="origem" />

<MudTextField T="string" Label="NumeroPhone" @bind-Value="numero" />

<MudTextField T="string" Label="email" @bind-Value="email" />

<button class="btn btn-primary" @onclick="GotoAddNumber">Adicionar</button>

<br />
@resultado
<br />

@code {
    private int currentCount = 0;
    public string nome = "nome";
    public string origem = "origem";
    public string numero = "numero";
    public string email = "email";
    public string resultado = "-x-";


    public async Task GotoAddNumber()
    { 
        string tarefadecriar = await FunctionGoogle.AddPeopleAsync(nome, origem, numero, email);

        if (tarefadecriar == "OK")
            NavigationManager.NavigateTo("/");
    }
     

}