@page "/reserva/{ReservationId}"
@using HoteldosNobresBlazor.Classes
@using HoteldosNobresBlazor.Funcoes
@rendermode InteractiveAuto
@inject AppState appState

<PageTitle>Reserva</PageTitle>

<h1>Reserva</h1>

<p role="status">
    Reserva: @novaReservationId; 
</p>

@foreach (var linha in arrayDeLinhas)
{
    @linha
    <br />
}


@code {
    [Parameter]
    public string ReservationId { get; set; }
    string[] arrayDeLinhas;

    string novaReservationId;

    protected override async Task OnInitializedAsync()
    {
        novaReservationId = ReservationId; 
        Reserva novareserva = new Reserva();
        novareserva.IDReserva = ReservationId;

        novareserva = FunctionAPICLOUDBEDs.getReservationAsync(novareserva).Result;
        String log = FuncoesFNRH.Atualizar(novareserva);

        arrayDeLinhas = log.Split('\n');
    }
}
