@using HoteldosNobresBlazor.Layout 
 
@inherits LayoutComponentBase 

<MudThemeProvider Theme="currentTheme" />
<MudDialogProvider @rendermode="InteractiveServer" />
<MudSnackbarProvider @rendermode="InteractiveServer" />


<MudLayout> 
    <MainAppDrawerBar @rendermode="InteractiveServer" />
        <MudMainContent Class="pt-16 px-50">
            <MudContainer Class="mt-6">
            <article class="content px-4">
                @Body
            </article>
        </MudContainer>
    </MudMainContent>
    <footer id="footer">
        <div class="inner">
            <ul class="copyright">
                <i class="fas fa-brands fa-creative-commons"></i> Feito com <i class="fas fa-heart"></i> pelo
                <a href="https://github.com/fabiohcnobre" target="_blank" rel="nofollow">FabioHCNobre</a>
            </ul>
        </div>
    </footer>
   
</MudLayout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>


@code {
    private MudTheme currentTheme = new MudTheme()
        {
            Palette = HoteldosNobresPallete.CreatePallete, 
        };
 
}





