@using HoteldosNobresBlazor.Layout
@inherits LayoutComponentBase

<MudThemeProvider Theme="MyCustomTheme" @ref="@_mudThemeProvider" @bind-IsDarkMode="@_isDarkMode" />
<MudPopoverProvider />
<MudDialogProvider @rendermode="InteractiveServer" />
<MudSnackbarProvider @rendermode="InteractiveServer" />
  
<MudLayout  > 
     <AuthorizeView Roles="client">
        <Authorized >
            <MainAppDrawerBar @rendermode="InteractiveServer" />
        </Authorized>
        <NotAuthorized >
            <MudAppBar Color="Color.Primary">
              @*   <a href="" Style="color:white; margin-right: 50px"> *@
                <MudImage @onclick="HandleClick" Width="50" Height="50" Src="images/logo.png" Alt="Mony the dog" Style="margin-right: 10px" Class="rounded-lg"> </MudImage> Hotel dos Nobres
                
                @*    </a> *@

             </MudAppBar>
        </NotAuthorized>
    </AuthorizeView>
    <MudMainContent Class="mud-theme-background, mud-height-full">
        @Body
    </MudMainContent>
</MudLayout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>


@code {

    private bool _isDarkMode { get; set; }
    private MudThemeProvider _mudThemeProvider;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _isDarkMode = await _mudThemeProvider.GetSystemPreference();
            await _mudThemeProvider.WatchSystemPreference(OnSystemPreferenceChanged);
            StateHasChanged();
        }
    }

    private Task OnSystemPreferenceChanged(bool newValue)
    {
        _isDarkMode = newValue;
        StateHasChanged();
        return Task.CompletedTask;
    }

    MudTheme MyCustomTheme = new MudTheme()
        {
            Palette = new PaletteLight()
            {
                Primary = new MudColor("#D2154E"),
                BackgroundGrey = new MudColor("#F5F4F4"),
                Background = new MudColor("#F5F4F4"),
                // BackgroundGrey = Colors.Grey.Lighten1,
                // Secondary = Colors.Green.Accent4,
                // AppbarBackground = Colors.Red.Default,
            },
            PaletteDark = new PaletteDark()
            {
                Primary = new MudColor("#D2154E"),
                BackgroundGrey = Colors.Grey.Lighten1,
                // DefautBackground = Colors.Grey.Lighten1,
            },

            // LayoutProperties = new LayoutProperties()
            // {
            //     DrawerWidthLeft = "260px",
            //     DrawerWidthRight = "300px"
            // }
        };

    public void HandleClick(MouseEventArgs e)
    { 
        _isDarkMode = !_isDarkMode;
    }

}





