<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href=""><span class="bi-icon-top-row"><i class="fa-solid fa-bell-concierge"></i></span>Hotel dos Nobres </a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fnrh" Match="NavLinkMatch.All">
                <span class="bi-icon-nav-menu"> <Icon Size="IconSize.x4" Name="IconName.FileCode" /> </span> FNRH
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pagamentoairbnb" Match="NavLinkMatch.All">
                <span class="bi-icon-nav-menu"> <Icon Size="IconSize.x4" Name="IconName.Bank" /> </span> Pagamento Airbnb
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="addreservat" Match="NavLinkMatch.All">
                <span class="bi-icon-nav-menu"> <Icon Size="IconSize.x4" Name="IconName.Clipboard2Plus" /> </span> Adiciona Reserva
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
         
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="reservas">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Reservas
            </NavLink>
        </div>
    </nav>
</div>

@* https://demos.blazorbootstrap.com/icons#bootstrap-icons   *@

