@implements IDisposable

@inject NavigationManager NavigationManager


<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href=""><span class="bi-icon-top-row"><i class="fa-solid fa-bell-concierge"></i></span>Hotel dos Nobres </a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column"> 
          <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="bi-icon-nav-menu"> <i class="fa-solid fa-house fa-lg"></i> </span>  Home
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="fnrh" Match="NavLinkMatch.All">
                        <span class="bi-icon-nav-menu"> <Icon Size="IconSize.x4" Name="IconName.FileCode" /> </span> FNRH
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="pagamentoairbnb" Match="NavLinkMatch.All">
                        <span class="bi-icon-nav-menu"> <i class="fa-brands fa-airbnb fa-lg"></i> </span> Pagamento Airbnb
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="logwhatsapp" Match="NavLinkMatch.All">
                        <span class="bi-icon-nav-menu"> <i class="fa-brands fa-whatsapp fa-lg"></i> </span> Log Whatsapp
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="addreservat" Match="NavLinkMatch.All">
                        <span class="bi-icon-nav-menu"> <i class="fa-solid fa-folder-plus fa-lg"></i> </span>  Adiciona Reserva
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="counter">
                        <span class="bi-icon-nav-menu"> <i class="fa-solid fa-square-plus fa-lg"></i> </span> Counter
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="reservas">
                        <span class="bi-icon-nav-menu"> <i class="fa-solid fa-list fa-lg"></i> </span> Reservas
                    </NavLink>
                </div>

              @*   <div class="nav-item px-3">
                    <NavLink class="nav-link" href="">
                        <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span>  
                    </NavLink>
                </div> *@
                <div class="nav-item px-3">
                    <form action="Logout" method="post">
                        <AntiforgeryToken />
                        <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                        <button type="submit" class="nav-link">
                            <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"> <i class="fa-solid fa-rigth-from-bracket"></i> </span> Logout
                        </button>
                    </form>
                </div>
            </Authorized>
            <NotAuthorized>
               @*  <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Register">
                        <span class="bi bi-person-nav-menu" aria-hidden="true"></span> Register
                    </NavLink>
                </div> *@
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/account/Login">
                        <span class="bi bi-person-badge-nav-menu" aria-hidden="true"><i class="fa-solid fa-rigth-from-bracket"></i> </span>Login
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>

@* https://demos.blazorbootstrap.com/icons#bootstrap-icons   *@

<footer id="footer"> 
    <div class="inner"> 
        <ul class="copyright"> 
            <i class="fas fa-brands fa-creative-commons"></i> Feito com <i class="fas fa-heart"></i> pelo
            <a href="https://github.com/fabiohcnobre" target="_blank" rel="nofollow">FabioHCNobre</a>
            <i class="fas fa-solid fa-moon" onclick="toggleTheme()"></i>
        </ul>
    </div>
</footer>

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged; 
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}