@page "/counter"
@rendermode InteractiveAuto
@inject NavigationManager NavigationManager


<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<p role="status">Current count: @texto2</p>


<InputText id="reservationId" @bind-Value="texto" />

<button class="btn btn-primary" @onclick="GoToReservation">Click me 2</button>


@code {
    private int currentCount = 0;
    public string texto = "Texto";
    public string texto2 = "Texto";

    private void IncrementCount()
    {
        currentCount++;
    }

    private void HandleValidSubmit()
    {
        Console.WriteLine("OnValidSubmit");
    }

    private async Task GoToReservation()
    { 
        NavigationManager.NavigateTo("/reserva/" + texto);
    }
}