@page "/minhareserva/{ReservationId}" 
@using HoteldosNobresBlazor.Funcoes
@rendermode InteractiveServer
 

<PageTitle>Reserva</PageTitle>

<h1>Reserva</h1>

<p role="status">
    Reserva: @novaReservationId; 
</p>

@foreach (var linha in arrayDeLinhas)
{
    @linha
    <br />
}


@code {
    [Parameter]
    public string ReservationId { get; set; }
    string[] arrayDeLinhas;

    string novaReservationId;

    protected override async Task OnInitializedAsync()
    {
        // novaReservationId = ReservationId; 
        // Reserva novareserva = new Reserva();
        // novareserva.IDReserva = ReservationId;

        // novareserva = FunctionAPICLOUDBEDs.getReservationAsync(novareserva).Result;
        // // String log = FuncoesFNRH.Atualizar(novareserva);
        // string log = "teste";

        // arrayDeLinhas = log.Split('\n');

        // DateTime inicio = DateTime.Now;
        // novareserva = await cloudbedsAPI.GetReservaAsync(novaReservationId);
        // // novareserva = FunctionAPICLOUDBEDs.getReservationAsync(novareserva).Result;
        // DateTime final = DateTime.Now;
        // TimeSpan diferenca =  final - inicio;
        // Console.WriteLine(diferenca);
    }
}
